<section>
<%= f = form_for @changeset, "#",
        id: "message-box",
        phx_change: "validate",
        phx_submit: "submit",
        autocomplete: "off"
%>
  <%= label f, :message %>
  <%= text_input f, :message, id: "message-input" %>
  <%= error_tag f, :message %>
</form>

<section>
  <%= for m <- @message_list do %>
    <p><%= m.message %></p>
  <% end %>
</section>
